<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="rehabilitation_management_dbEntities" connectionString="metadata=res://*/rehab_entities_model.csdl|res://*/rehab_entities_model.ssdl|res://*/rehab_entities_model.msl;&#xD;&#xA;         provider=System.Data.SqlClient;provider connection string=&quot;&#xD;&#xA;         data source=kmk\sqlexpress;&#xD;&#xA;         initial catalog=rehabilitation_management_db;&#xD;&#xA;         user id=sa;&#xD;&#xA;         password=123456789;&#xD;&#xA;         multipleactiveresultsets=True;&#xD;&#xA;         App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="LOGFILENAME" value="Logs\\log.txt" />
    <add key="ERRORLOGFILENAME" value="Logs\\error.txt" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="Comm_Port" value="5" />
    <add key="Comm_BaudRate" value="460800" />
    <add key="Comm_TimeOut" value="5000" />
    <!--trial period days-->
    <add key="TRIAL_PERIOD" value="370" />
    <!--no of seconds to wait till execute long running function to collect extra info-->
    <add key="COLLECT_EXTRAS_SECONDS_COUNTA" value="10" />
    <!--maximum number of the message characters to send-->
    <add key="MAX_MSG_LENGTH" value="0" />
    <!--number of characters to use in license key-->
    <add key="NO_OF_CHARACTERS_IN_LICENSE_KEY" value="32" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>